.animated-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
}

.carousel-section {
  flex: 0 0 40%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  min-height: 250px;
  max-height: 85%;
  overflow: hidden;
  margin-top: 1rem; 
}

.carousel-section img {
  width: 95%;
  height: auto; 
  border-radius: 30px;
  object-fit: cover; 
}

.text-section {
  flex: 0 0 60%;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  font-size: 1.8rem;
  border-radius: 12px;
  font-family: "Teko", sans-serif;
  font-weight: 350;
  font-style: normal;
}

.text-section h2 {
  font-size: 2.5rem;
  text-align: center;
}

/* Tablets - iPads & below */
@media (max-width: 991px) {
  .animated-container {
    flex-direction: column;
    height: auto;
  }

  .carousel-section,
  .text-section {
    flex: 0 0 100%;
    width: 100%;
    padding: 1.5rem;
  }

  .text-section {
    text-align: center;
    padding-top: 1rem;
  }
}

/* Smaller Devices - phones */
@media (max-width: 576px) {
  .carousel-section img {
    width: 100%;
    height: auto; /* Allow the image to resize naturally on small screens */
  }

  .text-section {
    padding: 1.1rem;
    font-size: 1.2rem;
    font-family: "Nova Flat", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .text-section h2 {
    font-size: 2rem;
  }
}

/* Glow animation for heading */
h2 {
  color: hsl(0, 0%, 28%);
  font-weight: bold !important;
  letter-spacing: 7px !important;
  word-spacing: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  padding: 40px;
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

/* 

.about-image-container {
  position: relative;
  transform: translateY(2rem);
  opacity: 0;
  transition: all 0.7s ease;
  transition-delay: 0.6s;
}

.about-image-container.visible {
  transform: translateY(0);
  opacity: 1;
}

.about-image-bg {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top right, #2563eb, #8b5cf6);
  filter: blur(16px);
  border-radius: 1rem;
  transform: rotate(-3deg);
}

.about-image {
  position: relative;
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  transform: rotate(3deg);
  transition: transform 0.5s ease;
}

.about-image:hover {
  transform: rotate(0);
}
 */