.nav-link {
    color: black; 
  }
  
  .nav-link.active {
    font-weight: bold;
    color: #f1f4f6; 
  }
  
  .nav-link:hover {
  color: #027cef ;
  backdrop-filter: blur(5px);
  }
  
  .nav-link {
    text-decoration: none;
  }
  
  .navbar {
/*     background-color: aqua ; 
 */ 
     background-color: rgb(109, 238, 238);    
/*     background: linear-gradient(135deg, #21b8e2, #025874);
 */    font-family: "Rubik Scribble", system-ui;
    font-weight: 700;
    font-style:oblique;
  }

  